<body>

  <form>
    <h1>KARNATAKA STATE ROAD TRANSPORT CORPORATION</h1>

    <div class="contentform">
      <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>
      <div class="leftcontact">
        <div class="form-group">
          <p>Name <span>*</span></p>
          <input type="text" name="prenom" id="prenom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." />
          <div class="validation"></div>
        </div>
        <div class="form-group">
          <p>Source<span>*</span></p>
          <select class="dropbtn" ng-model="companyName" ng-options='x for x in companies'>
            <option>Pune</option>
            <option>Mumbai</option>
          </select>
        </div>
        <div class="form-group">
          <p>Destination<span>*</span></p>
          <select class="dropbtn" ng-model="companyName" ng-options='x for x in companies'>
            <option>Mumbai</option>
            <option>Pune</option>
          </select>
          <div class="validation"></div>
        </div>        
        
      </div>
      <div class="rightcontact">
        <div class="form-group">
          <p>Adults <span>*</span></p>
          <input type="text" name="ville" id="ville" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné." />
          <div class="validation"></div>
        </div>
        <div class="form-group">
          <p>Children<span>*</span></p>
          <input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" />
          <div class="validation"></div>
        </div>
        <p>Type of Travel<span>*</span></p>
        <select class="dropbtn" ng-model="companyName" ng-options='x for x in companies'>
            <option>Mumbai</option>
            <option>Pune</option>
          </select>
          <div class="validation"></div>
        </div>
        
      </div>
    </div>
    <div class="form-group">
      <h4>DISTANCE:</h4><span>78 km</span>
      <h4>TIME:</h4><span>1.8 HR</span>
      <h4>FARE:</h4><span>400 RS</span>

    </div>
    <button type="submit" class="bouton-contact">PRiNT TICKET</button>

  </form>


</body>
